body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    font-size: medium;
    font-weight: bold;
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    color: #fff; /* Cor do texto no cabeçalho */
    background-color: white;
    position: fixed; /* Torna o cabeçalho fixo */
    width: 100%;
    top: 0;
    left: 0;
}

.navCabecalho {
    padding-top: 30px;

}

.efeito {
    background-color:  #022AFF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
}

.efeito:hover {
    background-color: #02B5FF;
}

.efeito-conta {
    background-color:  white;
    border: 2px solid #022AFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin-right: 15px;
}

.efeito-conta:hover {
    background-color: #8fddff;
}

.efeito-navegacao {
    color: #011480;
    background-color:  white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 20px;
}

.efeito-navegacao:hover {
    background-color: #8fddff;
}

.efeito-conteudo {
    text-transform: uppercase;
    color: white;
    background-color:  #022AFF;
    border: 2px solid #022AFF;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px 15px 10px 15px;
    border-radius: 5px;
    margin-right: 15px;
    margin-bottom: 20px;
}

.efeito-conteudo:hover {
    background-color: white;
    color: #022AFF;
    border: 2px solid #022AFF;
}

.logo {
    width: 80px;
}

.propaganda {
    display: flex;
    justify-content: center;
    padding-top: 120px;
    padding-bottom: 20px;
    background-image: linear-gradient(to right, #02B5FF, #022AFF, #02B5FF);
}

.prop {
    border-radius: 5px;
    box-shadow: 5px 5px 5px 2px #0228ff93;
}

.atalho {
    background-color: white;
    border-radius: 10px 15px 10px 15px;
    box-shadow: 5px 5px 5px #acafb8;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    padding-top: 100px;
    padding-bottom: 500px;
    width: 150px;
}

#acesse {
    color: black;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.botaoInterno {
    
}

.conteudo {
    display: flex;
    width: 1200px;
}

.principal {
    background-color: #EDF1FC;
    display: flex;
    justify-content: space-evenly;
}

.imagem.conteudo {
    border-radius: 10px;
    padding-top: 2px;
    padding-left: 25px;
    height: 250px;
    width: 300px;
}

.navDireita {
    margin-top: 40px;
    background-color: white;
    box-shadow: 5px 5px 5px #acafb8;
    border-radius: 10px 15px 10px 15px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
    padding-top: 100px;
    padding-bottom: 150px;
    width: 150px;
}

#boleto {
    width: 50px;
}

#calendario {
    width: 50px;
}

#declaracao {
    width: 50px;
}

#divida {
    width: 50px;
}

.margem.nav.direita {
    padding-bottom: 15px;
}

.interno.cont {
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}

.borda.cont {
    margin-top: 40px;
    border: 2px solid rgb(78, 1, 1);
    border-radius: 10px;
    box-shadow: 5px 5px 5px #acafb8;
    margin-left: 10px;
    margin-right: 10px;
}

.interno.roda {
    background-color: #EDF1FC;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.depoiments {
    display: flex;
    text-align: justify;
    width: 1000px;
    margin-top: 20px;
}

.interno.par {
    padding-top: 150px;
    padding-left: 10px;
    padding-right: 10px;
}

footer {
    border-top: 2px solid black;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    background-color: lightgray;
}

.logoFooter {
    width: 100px;
    padding-left: 25px;

}

.footerImg {
    width: 25px;
    display: inline-block;
    margin-left: 10px;
    padding-right: 10px;
}

#contato {
    padding-left: 40px;
}